@use "variables";
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Raleway&display=swap");

.p-text {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 10px;
}

.p-small {
  font-size: 14px;
  line-height: 25px;
}

.p-big {
  font-size: 45px;
}

.white-text {
  color: #fff;
}

.center-text {
  text-align: center;
}

.justified-text {
  text-align: justify;
}

.h1-text {
  font-size: 90px;
  font-family: "DM Serif Display";
  color: variables.$darkblue;
  margin-bottom: 30px;
}

.h2-text {
  font-size: 40px;
  font-family: sans-serif;
  margin-bottom: 40px;
}

.h3-text {
  font-size: 22px;
  margin-bottom: 30px;
}

.text-margin-delete {
  margin: 0;
}
