@use "variables";

.container {
  margin: 0 auto;
}

.button-hidden {
  background-color: transparent;
  border: 0;
}

.btn-darkblue {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  background-color: variables.$darkblue;
  padding: 20px;
  border-radius: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-80 {
  margin-bottom: 80px;
}

.shadow {
  box-shadow: 28px 22px 77px -37px rgba(66, 68, 90, 1);
}

.border-sides {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}
