.section-achievements {
  max-width: 1440px;
  background-image: url("pictures/achievements-background.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.achievements-box {
  display: flex;
}

@media (max-width: 768px) {
  .achievements-box {
    flex-direction: column;
    gap: 20px;
  }
}

.achievement-item {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .achievement-item {
    border: 2px solid #fff;
  }
}
