@use "variables";

.section-testimonials {
  max-width: 1440px;
  background-color: variables.$background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

@media (min-width: 767px) and (max-width: 1200px) {
  .section-testimonials {
    padding: 80px 40px;
  }
}

@media (max-width: 768px) {
  .section-testimonials {
    padding: 80px 40px;
  }
}

.testimonials-box {
  display: flex;
  gap: 30px;
}

@media (min-width: 767px) and (max-width: 1200px) {
  .testimonials-box {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .testimonials-box {
    flex-direction: column;
  }
}

.testimonial-item {
  max-width: 540px;
}

@media (min-width: 767px) and (max-width: 1200px) {
  .testimonial-item {
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .testimonial-item {
    margin-bottom: 40px;
  }
}

.testimonial-text-box {
  width: 100%;
  min-height: 280px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}

.client-picture-box {
  width: 56px;
  height: 56px;
}

.client-box {
  display: flex;
  justify-content: center;
  gap: 20px;
}
