@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Raleway:wght@200;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway";
  width: 100%;
  min-height: 100vh;
}

a {
  font-size: 18px;
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  font-size: 16px;
  padding: 15px;
  border-radius: 20px;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
}

.p-text {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 10px;
}

.p-thin {
  font-weight: 200;
}

.p-small {
  font-size: 14px;
  line-height: 25px;
}

.p-medium {
  font-size: 24px;
  color: #4f4f4f;
}

.p-big {
  font-size: 45px;
}

.text-white {
  color: #fff;
}

.text-blue {
  color: #094b72;
}

.text-gray {
  color: #4f4f4f;
}

.center-text {
  text-align: center;
}

.justified-text {
  text-align: justify;
}

.h1-text {
  font-size: 90px;
  font-family: "DM Serif Display";
  margin-bottom: 30px;
}

.h2-text {
  font-size: 40px;
  font-family: sans-serif;
  margin-bottom: 40px;
}

.h3-text {
  font-size: 22px;
  margin-bottom: 30px;
}

.text-margin-delete {
  margin: 0;
}

.container {
  margin: 0 auto;
}

.button-hidden {
  background-color: transparent;
  border: 0;
}

.btn-darkblue {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  background-color: #094b72;
  padding: 20px;
  border-radius: 10px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-80 {
  margin-bottom: 80px;
}

.navbar {
  max-width: 1110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  position: relative;
  border: 2px solid red;
}

.logo-picture-box {
  width: 144px;
  height: 40px;
  border: 2px solid purple;
}

.menu-list {
  display: flex;
  gap: 30px;
}

@media (min-width: 767px) and (max-width: 1200px) {
  .menu-list {
    display: none;
  }
}
@media (max-width: 768px) {
  .menu-list {
    display: none;
  }
}
.menu-list li {
  position: relative;
}
.menu-list li::after {
  content: "";
  height: 2.5px;
  width: 0;
  background-color: #094b72;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}
.menu-list li:hover::after {
  width: 100%;
}

.menu-list li a {
  text-transform: uppercase;
}

.nav-icon-box {
  width: 50px;
  display: flex;
  align-items: center;
  border: 2px solid blue;
}

.navbar-mobile {
  position: absolute;
  z-index: 2;
  bottom: -250px;
  width: 100%;
}

.navbar-mobile a {
  width: 100%;
  display: inline-block;
}
.navbar-mobile li {
  padding: 10px;
  background-color: #094b72;
  transition: 0.5s;
}
.navbar-mobile li:hover {
  background-color: #5796bb;
}

.nav-mobile-button-box {
  display: none;
}

@media (min-width: 767px) and (max-width: 1200px) {
  .nav-mobile-button-box {
    display: block;
  }
}
@media (max-width: 768px) {
  .nav-mobile-button-box {
    display: block;
  }
}
.section-hero {
  max-width: 1440px;
  border: 2px solid black;
  display: flex;
  position: relative;
  padding: 100px 0 0 0;
}

@media (min-width: 767px) and (max-width: 1200px) {
  .section-hero {
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .section-hero {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.hero-text-box {
  max-width: 891px;
  border: 2px solid orangered;
}

@media (min-width: 767px) and (max-width: 1200px) {
  .hero-text-box {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: static;
  }
}
@media (max-width: 768px) {
  .hero-text-box {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: static;
  }
}
.hero-p-box {
  max-width: 590px;
}

@media (min-width: 767px) and (max-width: 1200px) {
  .hero-p-box {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .hero-p-box {
    max-width: 100%;
  }
}
.hero-image-box {
  max-width: 811px;
  max-height: 973px;
  position: absolute;
  border: 2px solid red;
  right: 0;
  top: 0;
  z-index: -1;
}

.image-description-box {
  width: 382px;
  height: 114px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 214px;
}

.hero-news-box {
  width: 434px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #e6f6ff;
  border-radius: 30px;
  padding: 10px;
}

.hero-news-button {
  font-size: 14px;
  color: #fff;
  background-color: #094b72;
  padding: 5px 20px;
  border-radius: 30px;
}

.companies-logo-box {
  width: 238px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 2px solid pink;
}

.company-picture-box-1 {
  width: 90px;
}

.company-picture-box-2 {
  width: 90px;
}

.company-picture-box-3 {
  width: 122px;
}

.company-picture-box-4 {
  width: 84px;
}

@media (min-width: 767px) and (max-width: 1200px) {
  .hero-companies-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .hero-companies-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=stylesheet.css.map */